@charset "utf-8";
/* CSS Document */
*
{
margin:0px;
padding:0px;
}
body
{
background:url(../images/background.JPG);
}
#wrapper
{
height:800px;
width:1000px;
margin:0px auto;
}
#header
{
height:80px;
width:1000px;
margin:0px;
padding:0px;
background-color:#CCCCCC;
opacity:0.8;
}
#header h1
{
text-align:center;
color:#660000;
font-family:"Myriad Pro";
padding-top:20px;
}
#main_part
{
width:1000px;
height:700px;
float:left;
}
#category
{
width:240px;
height:auto;
float:left;
}
#display
{
float:left;
width:760px;
height:auto;
background-color:#FFFFFF;
opacity:0.9;
margin-top:15px;
}
#content
{
height:auto;
width:auto;
padding-top:10px;
padding-left:10px;
}
#show
{
height:auto;
width:auto;
padding-top:10px;
padding-left:10px;
}
#show_info
{
margin-top:10px;
height:40px;
width:auto;
background-color:#FFFFFF;
}
#show_content
{
background-color:#FFFFFF;
height:auto;
width:auto;
}